<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.typekit.net/epv1rpd.css">
    
    <title>Cats Website</title>
</head>
<body>
<div class="vertical-center"></div>
    <div class="container text-center">
        <h1>My name is</h1>
        <h1 class="highlighted-text"><%= catName %></h1>
        <h1>and I am the</h1>
        <h1 class="highlighted-text"><%= catTrait %></h1>
        <h1>cat</h1>
    </div>

    <%- include('partials/footer.ejs') %>  