/*
font-family: cooper-black-std,serif;
font-weight: 400;
font-style: normal;
*/

body{
    background-attachment: fixed;
    background-color: #781dff;
    background-image: radial-gradient(#781dff, black);
    background-size:100% auto;
    height:100%; 
    width:100%; 
}

.highlighted-text{
    color: rgb(0, 225, 255);
}

h1{
    font-family: cooper-black-std,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    color: whitesmoke;
}

a{
    color: #FFC;
    text-decoration: none;
}
a:hover{
    color: #CCF;
    text-decoration: none;
}
a:active{
    color: rgb(146, 146, 238);
    text-decoration: none;
}
a:visited{
    color: #FFC;
    text-decoration: none;
}

.vertical-center{
    min-height:25vh;
    
    display: flex;
    align-items: center;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: -20px;
	width: 100%;
	height: 40px;
	background-color: #333333;
}

.footer-padding {
    padding-bottom: 60px;
    color: wheat;
}

.footer-text {
    padding-top: 7.5px;
}

@media (max-width: 991px){
    h1{
        font-size: 4.5rem;
    }
    .vertical-center{
        min-height: 25vh;
    }
}

@media (max-width: 767px){
    h1{
        font-size: 3.5rem;
    }
    .vertical-center{
        min-height: 34vh;
    }
}

@media (max-width: 536px){
    h1{
        font-size: 2.5rem;
    }
    .vertical-center{
        min-height: 37vh;
    }
}

@media (max-width: 391px){
    h1{
        font-size: 1.75remrem;
    }
    .vertical-center{
        min-height: 35vh;
    }
}